{%extends 'base.html' %}

{%block content %}

<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque reiciendis veniam cum cumque sequi, consequuntur quo perferendis iusto, maxime in quasi dolorem quam praesentium et molestiae voluptatum dolorum ex possimus? Aliquid ipsa et impedit saepe a dolorum provident exercitationem, quia eos enim, ex dolor pariatur? Cum provident ipsa accusamus reprehenderit eos est voluptatem saepe non ullam, porro hic odit ad asperiores quisquam maxime eius ut similique quis ipsam ex voluptatibus impedit dolore. Libero provident nemo, repellendus dolore incidunt unde similique et quibusdam totam aut maxime cum necessitatibus aliquam, nostrum perferendis aspernatur, explicabo perspiciatis pariatur magni. Distinctio, dolore id. Voluptatibus, eum!</p>
{% endblock %}
